<?xml version="1.0" encoding="UTF-8"?>
<!--
  **************************************************-
  ingrid-iplug-csw-dsc:war
  ==================================================
  Copyright (C) 2014 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--
        Define the CSW filter queries to query the CSW data source. Duplicates resulting from
        the queries will be detected based on the Identifier and be removed.
        
        To produce one CSW Query without a Constraint element, please remove any <value> elements.
        Many systems support this to get all results from the CSW data source.
     -->
    <bean id="cswHarvestFilter" class="org.springframework.beans.factory.config.SetFactoryBean">
        <property name="sourceSet">
            <set>
                <value>
                    <![CDATA[<ogc:Filter xmlns:ogc="http://www.opengis.net/ogc">
                    <ogc:PropertyIsEqualTo escapeChar="\\" singleChar="?" wildCard="*">
                    <ogc:PropertyName>csw:Record/dc:subject</ogc:PropertyName>
                    <ogc:Literal>opendata</ogc:Literal>
                    </ogc:PropertyIsEqualTo>
                    </ogc:Filter>]]>
                </value>
<!--
                <value>
                    <![CDATA[<ogc:Filter xmlns:ogc="http://www.opengis.net/ogc">
                    <ogc:PropertyIsLike escapeChar="\\" singleChar="?" wildCard="*">
                    <ogc:PropertyName>AnyText</ogc:PropertyName>
                    <ogc:Literal>opendata</ogc:Literal>
                    </ogc:PropertyIsLike>
                    </ogc:Filter>]]>
                </value>
-->
            </set>
        </property>
    </bean>
</beans>
